@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

@media print {
  * {
    font-family: 'Anton',"Courier New", Courier, monospace;
    color: #000;
    background-color: #fff;
  }
}
